<form action="#" class="form" (ngSubmit)="SubmitTask()">
  <p class="title">Тут твои задачи</p>
  <div class="flexForm">
    <div class="flexField">
      <input class="field" type="text" name="fieldNewTask"
             placeholder="Напишите что вы хотите сделать"
             (input)="onChangeInput($event.target['value'])"
             [(ngModel)]="taskValue">
      <button *ngIf="!searchFlag" class="button">Добавить задачу</button>
      <button *ngIf="searchFlag" class="button buttonGrey">Поиск</button>
      <button *ngIf="searchFlag" class="button buttonRed"
              (click)="closeSearch()">Сбросить
      </button>
    </div>
    <div class="flexField">
      <app-button-controller [typeButton]="'filter'" (click)="revers()"></app-button-controller>
      <app-button-controller [typeButton]="'search'" (click)="searchFlag = !searchFlag"></app-button-controller>
    </div>
  </div>
</form>
